---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import profilePic from '../../public/images/CarrieRyan_profile.png';
---

<Layout title="About">
	<main class="about">
		<h1 class="title">About</h1>
		<Image
			src={profilePic}
			width={500}
			height={500}
			alt="portrait of Carrie Ryan"
			class="portrait"
		/>
		<div>
			<p>
				Carrie Ryan is an indie alt-pop artist blending moody melodies, raw
				emotion, and cinematic flair. With a sound influenced by Halsey,
				Florence + The Machine, and 2010s indie rock, her music explores themes
				of heartbreak, longing, and resilience—perfectly suited for screen
				storytelling.
			</p>
			<p>
				Based in Cleveland, Ohio, Carrie's evocative songwriting and ethereal
				vocals have already caught industry attention, with her music featured
				on
				<strong>Lifetime's <i>Little Women: LA</i></strong>. She crafts songs
				that feel both intimate and expansive, and equally at home in a dive bar
				or a film's closing credits.
			</p>
			<p>
				Carrie pairs her sound with a strong visual aesthetic: femme rockstar
				meets indie sleaze. Her background in performance and dance infuses her
				live shows and content with striking authenticity, connecting with fans
				who crave emotional depth and gritty beauty.
			</p>
			<p>
				As she looks ahead, Carrie is focused on sync licensing for TV and film,
				creating songs that elevate story, mood, and emotion. With her next
				single on the way, she continues to build a catalog of sync-ready music
				that blends personal vulnerability with cinematic power.
			</p>
			<p>
				If you're looking for music that hits hard and stays with you, Carrie
				Ryan is one to watch.
			</p>
		</div>
	</main>
</Layout>

<style>
	.about {
		display: grid;
		padding-inline: 5rem;
		padding-bottom: 2rem;
		max-width: 120rem;
		margin-inline: auto;
	}
	.title {
		grid-column: 1/-1;
		font-size: 4rem;
		letter-spacing: 0.5rem;
	}

	.portrait {
		width: 100%;
		max-width: 50rem;
		height: auto;
	}

	@media only screen and (min-width: 767px) {
		.about {
			grid-template-columns: 1fr 1fr;
			gap: 2rem;
		}

		.portrait {
			justify-self: end;
		}
	}
</style>
