---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Singer-Songwriter from Cleveland, Ohio">
	<main>
		<h1>Press Kit</h1>

		<style></style>
	</main>
</Layout>
