---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Astro description"
		/>
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com"
		/>
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap"
			rel="stylesheet"
		/>
		<title>Carrie Ryan | {title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--color-primary: #031424;
		--color-secondary: #30415d;
		--color-secondary_s30: rgba(141, 153, 174, 0.3);
		--color-tertiary: #8eaebd;
		--color-accent: #cf6766;
		--color-accent_s80: #ef233c;
		--black: #333;
		--gray: #666;
		--white: #fff;

		font-size: 10px;
	}

	body {
		background-color: #000;
		color: var(--white);
		font-family: 'Archivo Narrow', sans-serif;
		font-size: 1.6rem;
		padding: 0;
		margin: 0;
	}

	h1 {
		font-size: 4rem;
		letter-spacing: 0.5rem;
		margin: 4rem 0 1.5rem;
	}

	h2 {
		letter-spacing: 0.25rem;
	}

	a {
		color: var(--color-secondary);
	}

	a:hover {
		color: var(--color-accent);
	}

	li {
		list-style: none;
	}
</style>
